# 1. Force HTTPS, Remove WWW and Strip Query Strings (?ND, ?SD)
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.tryfizz\.com [NC]
# Regula de mai jos face redirect 301 și șterge parametrii (notația '?' de la final)
RewriteRule ^(.*)$ https://tryfizz.com/$1? [L,R=301]
