# 1. Force HTTPS, Remove WWW and Strip Query Strings (?ND, ?SD)
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.tryfizz\.com [NC]
# The rule below performs a 301 redirect and strips parameters (the '?' at the end)
RewriteRule ^(.*)$ https://tryfizz.com/$1? [L,R=301]
